<h1>Filter by {{type}}: {{value}}</h1>

{{#if snippets}}
<div class="row">
{{#each snippets }}
<div class="card col-sm-6">
    <div class="card-body">
        <h1>{{title}}</h1>
        <p>By: <a href="/filter/user/{{createdBy}}">{{createdBy}}</a></p>
        <a class="btn btn-info" href="/snippet/view/{{id}}">View</a>
    </div>
</div>
   
{{/each}}
</div>
{{else}}
<p>There are no snippets with the matching filter...</p>
{{/if}}
