<h1>{{title}}</h1>

<p>By:
    <a href="/filter/user/{{createdBy}}">{{createdBy}}</a>
</p>

<div class="card">
    <div class="card-body">
        <h2 class="view">{{body}}</h2>
    </div>
</div>

{{#if tags}}
<br>
<p>Tags:</p>
{{#each tags}}
<a class="btn btn-outline-primary btn-sm" href="/filter/tag/{{this.url}}">{{this.text}}</a>
{{/each}} {{/if}}